* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

.tictac-section {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  padding: 5px;
  border-radius: 4px;
}

.btn {
  width: 150px;
  height: 150px;
  background-color: rgb(225, 124, 225);
  display: flex;
  cursor: pointer;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: black;
  transition: 0.5s;
  border-radius: 3px;
}
.btn:hover {
  background-color: aquamarine;
}
h1 {
  font-size: 50px;
  color: white;
}
h2 {
  font-size: 35px;
  color: aquamarine;
}

.Restart {
  padding: 10px 25px;
  background-color: rgb(128, 255, 0);
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 5px;
  transition: 0.5s ease;
  border: 1px solid black;
}
.Restart:hover {
  background-color: navy;
  border: 1px solid white;
  color: white;
}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 25px;
  }
  .tictac-section {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
  }
  .btn {
    width: 100px;
    height: 100px;
    font-size: 50px;
  }
}
